 <!-- START THE FEATURETTES -->
{% load static %}
 
 <hr class="featurette-divider">

 <div class="row featurette">
     <div class="col-md-7">
         <h2 class="featurette-heading fw-normal lh-1">Testando de verdade<span class="text-muted">
                 Continua</span></h2>
         <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut
             labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis
             suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in
             voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     </div>
    <div class="col-md-5">
        
        <img src="{% static 'img/folder.png' %}" width="100%" alt="">
             <title>Placeholder</title>
    </div>

 <hr class="featurette-divider">

 <div class="row featurette">
     <div class="col-md-7 order-md-2">
         <h2 class="featurette-heading fw-normal lh-1">Testando de verdade<span class="text-muted">
                 Continua</span></h2>
         <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut
             labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis
             suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in
             voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     </div>
     <div class="col-md-5 order-md-1">
        <img src="{% static 'img/digi.png' %}" width="100%" alt="">
             <title>Placeholder</title>
             
     </div>
 </div>
 <hr class="featurette-divider">

 <div class="row featurette">
     <div class="col-md-7">
         <h2 class="featurette-heading fw-normal lh-1">Testando de verdade<span class="text-muted">
                 Continua</span></h2>
         <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut
             labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis
             suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in
             voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     </div>
    <div class="col-md-5">
        
        <img src="{% static 'img/pla.png' %}" width="100%" alt="">
             <title>Placeholder</title>
    </div>
 <hr class="featurette-divider">

 

<!-- /END THE FEATURETTES -->