<main>


    {% include "partials/_carrossel.html" %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#CCC"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em"></text>
                </svg>
                
                <h2 class="fw-normal">Pastas funcionais</h2>


                <p>Os assentamentos funcionais são documentos importantes para instituições federais, pois garantem a
                    transparência e a clareza nas relações trabalhistas entre o funcionário e a instituição. Eles
                    definem as obrigações e direitos de ambas as partes, evitando desentendimentos e possíveis
                    conflitos. Além disso, os assentamentos funcionais ajudam a manter a integridade e a ética da
                    instituição, pois estabelecem claramente as políticas e as normas internas.

                    Em instituições federais, os assentamentos funcionais são ainda mais importantes, pois estas
                    instituições são reguladas por leis específicas e precisam seguir rigorosos padrões de transparência
                    e responsabilidade. Os assentamentos funcionais permitem que os funcionários tenham conhecimento
                    detalhado sobre as suas obrigações e benefícios, bem como as políticas internas da instituição. Eles
                    também servem como referência para futuras negociações e revisões de salários ou benefícios.

                    Em resumo, os assentamentos funcionais são fundamentais para instituições federais, pois garantem a
                    transparência, a clareza e a integridade nas relações trabalhistas, e ajudam a manter a ética e a
                    responsabilidade da instituição.</p>
                <p><a class="btn btn-secondary" href="#">Nosso link</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>
                <h2 class="fw-normal">Controle de emprestimo de documentos</h2>
                <p>O controle de empréstimos de documentos é importante para garantir a segurança, a organização e a
                    disponibilidade dos documentos em uma instituição. Ele permite acompanhar a movimentação dos
                    documentos, identificar a localização deles e determinar quem os está utilizando. Além disso, o
                    controle de empréstimos de documentos também é crucial para garantir que os documentos sejam
                    devolvidos em um prazo razoável e para evitar a perda ou danificação dos mesmos. Ele é uma
                    ferramenta valiosa para instituições que precisam manter seus documentos protegidos e acessíveis aos
                    funcionários quando necessário.</p>
                <p><a class="btn btn-secondary" href="#">meu link</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>
                <h2 class="fw-normal">Importancia dos Arquivistas no desenvolvimento de Soluções em TI</h2>
                <p>A presença de um arquivista é fundamental no desenvolvimento de sistemas de informação, pois ele é o
                    responsável por garantir que os dados e documentos da instituição sejam armazenados de forma
                    eficiente, segura e acessível. O arquivista conhece as normas e regulamentos aplicáveis à gestão de
                    informações, e pode fornecer orientação e diretrizes para garantir que os sistemas de informação
                    sejam desenvolvidos de acordo com as necessidades e exigências da instituição. Além disso, o
                    arquivista pode ajudar a identificar e solucionar problemas relacionados à gestão de informações, e
                    a melhorar a eficiência e a eficácia do sistema de informação. Em resumo, o arquivista é uma
                    peça-chave para o sucesso no desenvolvimento e gestão de sistemas de informação.</p>
                <p><a class="btn btn-secondary" href="#">Outro link</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="container">
            {% include "partials/_img_text_text_img.html" %}
        </div>
    </div><!-- /.container -->


</main>