<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
    <li>
        <a href="{% url 'index' %}" class="nav-link text-secondary">
        Home
        </a>
    </li>
    <li>
        <a href="{% url 'sobre' %}" class="nav-link text-white">
        Sobre
        </a>
    </li>
    {% if user.is_authenticated %}

    <li class="nav-item dropdown">
        <a class=" nav-link dropdown-toggle text-reset show" href="#" data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
        <ul class="dropdown-menu" data-bs-popper="static">
          <li><a class="dropdown-item" href="{% url 'list_cliente' %}">Listar clientes</a></li>
          <li><a class="dropdown-item" href="{% url 'create_cliente' %}">Cadastrar Clientes</a></li>
        </ul>
    </li>
    {% endif %}

    <li>
        {% include "partials/_botao_login.html" %}
    </li>
    
</ul>