

<!-- blocos do head -->
<!-- se necesserio incluir  um estilo para a redereizar pagina -->
{% block style %}{% endblock %}

<!-- bloco para titulo aba de pagina -->
{% block title%}{% endblock %}

<!-- end blocos head -->

<!-- bloco body -->

<!-- bloco header  -->
{% block header %}{% endblock %}

<!-- personaliar titulo da pagina -->
{% block page_title %} {% endblock%}

<!-- o bloco a baixo carrega o conteudo da pagina  conteudo dinamico-->
{% block content %}{% endblock %}

<!-- blocos de personalização footer -->
{% block footer %}
{% endblock %}