{% extends 'base.html' %}

<!-- Carrega os arquivos estaticos -->
{% load static %}

<!-- pode carregar daqui para a base o estilo personalizado -->
{% block style %}{% endblock %}
{% block title %}Excluir{% endblock %}


<!-- leva o nome da pagina personalizado para a base -->
{% block page_title %}Excluir Cadastro{% endblock %}

<!-- Inicio do bloco de conteúdo -->
{% block content %}

<hr>
<form action="" method="POST">
    {% csrf_token %}
    <p> Você tem certeza que deseja apagar o registro de <strong> "{{ object }}"</strong>? </p>     
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
  

{% endblock %}


